grant {
    // allow activation groups to use certain system properties
    permission com.sun.rmi.rmid.ExecOptionPermission
	"-Djava.security.policy=${examples.activation.policy}";
    permission com.sun.rmi.rmid.ExecOptionPermission
	"-Djava.class.path=no_classpath";
    permission com.sun.rmi.rmid.ExecOptionPermission
	"-Dexamples.activation.impl.codebase=*";
    permission com.sun.rmi.rmid.ExecOptionPermission
	"-Dexamples.activation.file=*";
};
