body { background-color: white }
th,div,span,h1,h2,h3,h4,h5,h6,caption { font-family:Arial,Helvetica,sans-serif }
h1 { text-align: center }
h4, h5 { font-style: italic; margin-left: 0.5in }
p { margin-left: 0.5in }
li li { margin-left: 0in }
pre { margin-left: 0.75in }
li, li pre, li p { margin-left: 0.25in }
th { background: #cccccc }
td { font-family:Arial,Helvetica,sans-serif; font-size: 80% }
td code { font-family:Courier New, Courier, monospace; font-size: 100% }
caption { font-weight: bold; margin-bottom: 1em }
