a:link {
	color: #0000FF;
	text-decoration: underline;
}

a:visited {
  color: #3366FF;
}

a:hover {
    color:#FF0000;
	text-decoration: underline;
}

a:active {
	color: #FF0000;
}

a.hidden {
  color: #000000;
}

a.hidden:visited {
  color: #000000;
}

a.hidden:hover {
	color: #0000CC;
}

a.hidden:active {
  color: #000000;
}

a.nav:link {
	color: #333333;
	padding: 2px;}

a.nav:visited {
	color: #cccccc;
	padding: 2px;
}

a.nav:hover {
	color: #FFFFFF;
	background-color: #666666;
	padding: 2px;
}

a.menu {
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	text-decoration: underline;
}

a.menu:hover {
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	text-decoration: underline;
	letter-spacing: 1px;
	}

a.box {
	padding: 3px;
	background-color: #FFFFFF;
	text-decoration: none;
	border: medium solid #CCCCCC;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a.box:hover {
  color: #000000;
	padding: 3px;
	text-decoration: none;
	background-color: #666666;
	border: medium solid #3366FF;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.bg_yellow {
    background-color:#FFFF99;
	padding: 3px;
	text-decoration: none;
}

.bg_red {
    background-color:red;
	padding: 3px;
	text-decoration: none;
}

.bg_blue {
    background-color:blue;
	padding: 3px;
	text-decoration: none;
}

.bg_gray {
    background-color:gray;
	padding: 3px;
	text-decoration: none;
}

.bg1:hover {
    color:#FF0000;
	padding: 2px;
	background-color: #CCCCCC;
	font-weight: bold;
}