
/*

This stylesheet formats Engineering Specification docs and enhancements pages. 

*/ 

/* Standard paragraph tag. 

Use the following classes to modify this paragraph tag

<p class="note"> ;      turns PP into a note
<p class="changebar"> ; adds a changebar to a PP

<p class="helvetica"> ; Sets PP font to sans-serif.
<p class="indent-1"> ;  Indents PP one level.
<p class="indent-2"> ;  Indents PP two levels.
<p class="indent-3"> ;  Indents PP three levels.

*/

p { 
    font-family: serif;
    font-size: medium;
    
    margin-left: 24pt;
    margin-top: 18pt;
    margin-bottom: 9pt;
    margin-right: 3pt;
    padding-left: 0pt;
    padding-right: 0pt;
    }


ol li, ul li {
    font-family: serif;
    font-size: medium;
    
    margin-top: 0pt;
    margin-bottom: 2pt;
    margin-left: 3pt;
    margin-right: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    }

ol ol li { margin-left: -6pt;
           list-style-type:lower-alpha;
          }

ul ul li { list-style-type: circle;
           margin-left: -12pt;}

.indent-0 {margin-left: 24pt;}		  
.indent-1 {margin-top: -3pt; margin-left: 36pt;}
.indent-2 {margin-top: -3pt; margin-left: 48pt;}
.indent-3 {margin-top: -3pt; margin-left: 0pt; }


/* adds a red changebar to the right side of a a paragraph */

.changebar { background: LemonChiffon; /*FFFACD */
             border-right: 4px solid red}

		   
/* Adds HR to top and bottom of a paragraph */
/* Also adds the word 'NOTE' to your paragraph */

.note { border-top: thin solid #606060;
	   border-bottom: thin solid #606060;
	   margin-right: 5%;
	   padding-top: 9pt;
	   padding-bottom: 9pt;
}

p.note:before { font-family: sans-serif; 
	           font-weight:bold;
			 font-size: 92%;
                content: "Note:   " }

.windows   {display: none; }
.unix      {display: none; }

.helvetica {font-family: sans-serif;}
	   

.ttop {font-size: 200%;} /* use in H1 For the top title */

code, tt {
	  font-family: monospace;
	  font-size: 120%;
	  font-weight: normal;
	  color: #000000;
    }

pre { font-family: monospace;
	 font-size: 115%;
	 font-weight: normal;
	 color: #000000;
	 margin-left: 24pt;
    }

h1 { font-family: serif;
	font-size: 150%;
	font-weight: bold ;
	margin-top: 36pt;
	margin-bottom: 16pt;
	margin-left: 0pt;
	margin-right: 0pt;
    }

h2 {font-size: 133%;
	font-weight: bold;
	font-family: sans-serif;
     margin-top: 24pt;
	margin-bottom: 12pt;
	margin-left: 0pt;
	margin-right: 0pt;}

h3 {font-size: 120% ;
       font-weight: bold;
	  font-style: normal;
	  font-family: sans-serif;
	  margin-top: 18pt;
       margin-bottom: 9pt;
       margin-left: 22pt;
       margin-right: 0pt;}

h4 {font-size: medium ;
       font-weight: bold;
	  font-style: italic;
	  font-family: sans-serif;
	  margin-top: 9pt;
       margin-bottom: 6pt;
       margin-left: 22pt;
       margin-right: 0pt;}

/* table declarations */

/* Standard default Table declaration. Override when needed */

table {display: table;
       border-collapse: collapse;
       width: 90%; 
	  margin-left: 24pt;
       background-color: #ffffff; /* #f0f0c0 */
	  text-align: top;
       vertical-align: left;
	  xxborder: solid 1px blue;
	  margin-top:1em;
	  margin-bottom: 2em;
	  
	  }
	  
th  {background: #d0f0ff;
     font-family: sans-serif;
	font-style: italic;
     font-weight: bold;
	border-bottom: 2px solid black;
	border-top: 1px solid black; 
	border-left: hidden;
	border-right: hidden
	}
	
th.code {font-family: courier; font-weight: bold;
	font-style: italic;
	font-size: 225%;}
	
.tcode {font-family: courier;
        font-size: 88%;}	
	   
.total {background: #d0f0ff;
      font-weight: bold;}	   

.serif {font-family: serif;}
	 
.tsans {font-family: sans-serif;
      font-weight: bold;
	 }
	  
/* tr  { border-top: solid 1pt blue; } */
	  
col {font-family: monotype;}

td  {width: 30%;
     padding-right: 0.25em;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
     border-left-style: hidden;
     border-right-style: hidden; 
	/* guide deletes this 'border' property. 
	'border' is important property in spec.css. 
	
	border-bottom: 1px solid black; */
	
     text-align: left;
     vertical-align: top;
	border-spacing: 0px;
    }





