grant codeBase "file:server" {
    permission javax.management.remote.SubjectDelegationPermission "javax.management.remote.JMXPrincipal.delegate";
};

grant principal javax.management.remote.JMXPrincipal "username" {
    //
    // Grant the JMXPrincipal "username" the right to act on behalf of a JMXPrincipal "delegate".
    //
    permission javax.management.remote.SubjectDelegationPermission "javax.management.remote.JMXPrincipal.delegate";
};
